node_modules/
__pycache__/
*.pyc
dist/
build/
.env
*.egg-info/
*.log
*.DS_Store
*.pyo
*.pyd
*.so
*.dylib
*.exe
*.dll
*.app
*.iml
.idea/
.vscode/
coverage/
*.spec
*.bak
*.swp
*.swo
*.tmp
*.cache
*.pkl
*.sqlite
*.db
*.lock

